meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fase 2 Metodología OVOP
meta(meta name="description" content="Este componente formativo corresponde a la fase 2 de la Metodología OVOP y abarca dos guías metodológicas: la No 1, Guía No 3 para la Ideación de producto y la No 2, Guía No 4 para el estudio de Cadena de valor simple y selección de Mi Producto. Estas guías se constituyen en un paso fundamental en la ruta metodológica de la estrategia de desarrollo local OVOP – Colombia y tienen por objetivo, generar ideas de productos a partir de los recursos existentes en el territorio y seleccionar un producto que contribuya al establecimiento de una marca territorial para posicionar el municipio.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")