.container#construccion

    .header-ecored

        h1 2. Guía para la construcción del sueño colectivo OVOP

#objetivos2

.container

    .header-ecored.subtitulo-guion

            h2 Objetivos de la guía

.container

    .row.mx-0.recuadro1

        .col-12

            h3.texto1 General

            p “Brindar a los interesados insumos conceptuales y metodológicos para la construcción del sueño colectivo bajo el enfoque OVOP”, el cual se corrigió por “Conocer cómo realizar el taller de construcción de «sueño colectivo» bajo el enfoque OVOP Colombia”.

        .col-12

            h3.texto1 Específicos

            ul
                li.mb-3 Comprender la dinámica de construcción de un «sueño colectivo», la cual consiste en planear una visión u objetivo común que busque revitalizar el territorio.
                li Preparar la base para para definir “Mi Producto”, sobre el (los) cual (es) se planificará la ruta de trabajo en la siguiente fase.

br#conceptos2

.container

    .header-ecored.subtitulo-guion

        h2 Conceptos

.container

    .row.mx-0
        
        .card

            img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 2.1
                        
                        .col-10

                            p.texto2 Desarrollo Económico Local

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Desarrollo Económico Local es un proceso reactivador de la economía y dinamizador de la sociedad local, que mediante el aprovechamiento eficiente de los recursos endógenos (internos) existentes en una determinada zona, es capaz de estimular su crecimiento económico, crear empleo y mejorar la calidad de vida de la comunidad local. (Del Castillo, 1994, citado por Albuquerque, 1997, pág. 109)

        .card

            img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 2.2
                        
                        .col-10

                            p.texto2 Cadena de valor y su análisis

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Una cadena de valor describe la gama de actividades que se requiere para llevar un producto o servicio desde su concepción, pasado por las fases intermedias de la producción y la entrega hasta los consumidores y su disposición final después de su uso. Esto incluye actividades tales como el diseño, la producción, la comercialización, la distribución y los servicios de apoyo hasta llegar al consumidor final. Las actividades que constituyen una cadena de valor pueden estar contenidas dentro de una sola empresa o divididas entre diferentes empresas, dentro de una única ubicación geográfica o distribuidas en áreas geográficas más amplias. (Kaplinsky & Morris, 2001, pág. 94)

                        .col-12.text-center.mt-4

                            img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 80%")

        .card

            img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 2.3
                        
                        .col-10

                            p.texto2 Productos OVOP

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Los productos OVOP, son aquellos que cumplen con características fundamentales para empoderar a las comunidades en su proceso de desarrollo local. Para considerar uno como Producto OVOP, se requiere la identificación participativa del universo de recursos locales presentes en el territorio y posteriormente un punto de vista de valor para convertirlos en tesoros; es decir, recursos que son potenciales para su aprovechamiento comunitario.
                        
                        .col-12.text-center.mt-4

                            img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 80%") 
        
        .card

            img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0

                        .col-12

                            .row.align-items-center
                    
                                .col-auto.text-center.recuadro3

                                    p 2.4
                                
                                .col-10

                                    p.texto2 Economía sana según el enfoque OVOP

                                .col-12.mt-4

                                    p El término “Economía sana”, se refiere a un modelo económico local donde exista un empoderamiento de la comunidad hacia la creación de valor, la innovación y el mejoramiento continuo, con el fin de superar dificultades estructurales de su economía local para el aumento de la competitividad territorial y la calidad de vida de sus habitantes.

br#asuntos

.container

    .header-ecored.subtitulo-guion

        h2 Asuntos preliminares

.container

    .row.mx-0

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 3.1
                        
                        .col-10

                            p.texto2 Desarrollo Económico Local

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Para el desarrollo del análisis de la cadena de valor, se requiere obtener algunos asuntos preliminares que generen la información completa, para realizar el estudio desde los diferentes criterios. Estos asuntos deben ser resueltos antes de iniciar con el proceso de análisis. 

                            p En el marco de la ruta metodológica de OVOP, se pueden encontrar las herramientas para obtener los resultados preliminares que se requieren. Así mismo, posterior al análisis de la cadena de valor, existen otros pasos dentro de la ruta que permitirán continuar con el proceso de desarrollo local del territorio, como se muestra en la imagen.
                        
                        .col-12.text-center.mt-4

                                img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 80%") 

        .card

            .card-body

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 3.2
                        
                        .col-10

                            p.texto2 Ficha técnica municipal

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Para estimar el impacto de Mi Producto en la economía municipal, se necesita conocer información económica, geográfica y política del territorio donde se encuentre la iniciativa. Una ficha municipal es un resumen de datos de un territorio determinado que permite visualizar sus características, especialmente las que se pueden asociar al análisis de la cadena de valor, entre las que se encuentran la composición de la población, el número de hogares, la extensión del territorio y la composición económica. Esta información se puede conseguir en las páginas del Departamento Nacional de Planeación DNP, DANE o Federación Colombiana de Municipios.
            
            .row.mx-0.recuadro2

                .col-12.col-md-6.recuadro5

                    section.centrado
                                        a(href="https://terridata.dnp.gov.co/" target="_blank").media-link
                                            img(src="assets/images/pages/icon_www3.svg", alt="").media-link-icon
                                            .media-link-title
                                                p
                                                    b Anexo.
                                                p Terridata
                    
                    section.mt-4.centrado
                                        a(href="https://www.fcm.org.co/" target="_blank").media-link
                                            img(src="assets/images/pages/icon_www3.svg", alt="").media-link-icon
                                            .media-link-title
                                                p
                                                    b Anexo.
                                                p Federación colombiana de municipios

                    section.mt-4.centrado
                                        a(href="https://www.dane.gov.co/" target="_blank").media-link
                                            img(src="assets/images/pages/icon_www3.svg", alt="").media-link-icon
                                            .media-link-title
                                                p
                                                    b Anexo.
                                                p DANE
                
                .col-12.col-md-6.recuadro5.text-center

                    img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 100%")

        .card

            .card-body

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 3.3
                        
                        .col-10

                            p.texto2 Resultados del descubrimiento de tesoros locales

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p En las primeras fases de la implementación del enfoque OVOP, se realiza el ejercicio de redescubrir y valorar los recursos del territorio, de tal forma que son vistos como Tesoros Locales. Estos tesoros son analizados para destacar aquellos que, desde el punto de vista de la identidad, la unicidad y la oportunidad de aprovechamiento, podrían convertirse en productos OVOP.

                            br

                            p El resultado de dicho ejercicio debe estar documentado para que pueda revisarse y retomarse antes de hacer el análisis de la cadena de valor, ya que esto permite conocer, no solo un panorama más amplio de los recursos del territorio, sino también identificar la perspectiva de la comunidad local hacia los mismos. Por lo tanto, se requiere el listado de recursos locales y los tesoros potenciales elegidos.

                        .col-12.px-0.text-center.mt-4
            
                            img.card-img-bottom(src="assets/images/pages/img17.png", style="max-width: 80%")

        .card.m-0

            .card-body

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 3.4
                        
                        .col-10

                            p.texto2 Información de productos potenciales

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Para medir los impactos de un producto sobre el desarrollo local de un determinado territorio, se requiere en primera medida haber seleccionado al menos dos productos potenciales; es decir, dos diferentes tesoros que tienen valor agregado diferencial que son o podrían ser producidos o comercializados por la comunidad local.

                            br

                            p Se hace claridad en que, aunque no haya actualmente la producción o venta de un recurso, si existe una idea de producto o uno mínimo viable (MVP) del que se conozca su proceso de elaboración y comercialización, se puede analizar de igual forma.

            img(src="assets/images/pages/img18.png", style="max-width: 100%")

        .col-12.recuadro1

            p La razón fundamental para analizar productos que aún no están en el mercado, es aprovechar la iniciativa o la creatividad que puede surgir en los procesos anteriores para evaluar la oportunidad de estos al convertirse en productos estrella para el desarrollo local.

            p La información básica necesaria de cada producto potencial es:

        .col-12.text-center.recuadro4.recuadro2

            img(src="assets/images/pages/img19.png", style="max-width: 80%")

br#elaboracion

.container

    .header-ecored.subtitulo-guion

        h2 Elaboración de una cadena de valor simple

.container

    .row.mx-0

        .card.mb-0

            .card-body

                .card-text

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Como se explicó anteriormente, la cadena de valor describe las actividades que se requieren para conducir un producto o servicio desde su concepción hasta la entrega al consumidor e incluso su disposición final, las cuales están inmersas en cuatro fases.

                            br

                            p Estas fases se conocen como eslabones de valor y se representan en una estructura horizontal de manera simple. Dentro de cada uno se encuentran las actividades básicas que añaden valor a cualquier producto o servicio.

            img.img-fluid(src="assets/images/pages/img20.png", style="max-width: 100%")
        
        .col-12.text-center.recuadro1.recuadro2

            img(src="assets/images/pages/img21.png", style="max-width: 60%")

        .card.mt-4.mb-0

            .card-body

                .card-text

                    .row.mx-0

                        .col-12.col-md-6

                            .row.align-items-center
                    
                                .col-auto.text-center.recuadro3

                                    p 4.1
                                
                                .col-10

                                    p.texto2 Representación gráfica de la cadena de valor

                                .col-12.mt-4

                                    p El primer paso para entender el valor de un producto potencial, es realizar una representación simple de su cadena de valor teniendo en cuenta los eslabones ya mencionados.

                                    br

                                    p De esta manera, para cada uno de los productos potenciales que se van a analizar, se deben representar de forma gráfica las operaciones básicas que hacen parte de cada uno de los eslabones de valor.

                                    br

                                    p Para esto, se debe tener en cuenta que hay que simplificar los procesos agrupándolos en actividades de un mismo nivel, de tal forma que la gráfica no se vuelva compleja.


                        .col-12.col-md-6.mt-3

                            .header-arrow.arrow1

                                .col-12.mb-3

                                    p Los invito a observar el video 
                                        b La hoja caulinar se vuelve verde
                                        | , el cual es muy interesante y nos muestra todo el proceso de este tipo de artesanías.
                                
                                .col-12

                                    section
                                        a(href="https://www.youtube.com/watch?v=OgazpmMyLMo" target="_blank").media-link
                                            img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                            .media-link-title
                                                p
                                                    b Video.
                                                p La hoja caulinar se vuelve verde

                            .row

                                .col-12.text-center.mt-4

                                    img(src="assets/images/pages/img8.svg")
        
        .row.mx-0.recuadro2

            .col-12.recuadro5.text-center

                p
                    b Representación de la cadena de valor de artesanía en hoja caulinar de guadua

                img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 80%")
        
        .card.mt-4

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 4.2
                        
                        .col-10

                            p.texto2 Información de las actividades

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Ahora que se han identificado y representado de manera gráfica las actividades, se deben describir detalladamente la información en cada una de ellas.

                            br

                            p La información más relevante para analizar posteriormente es:

                            br

                            ul
                                li
                                    b Tiempo: 
                                    | horas que lleva la realización de la actividad.
                                li.mt-3
                                    b Costo: 
                                    | valor económico de la realización de la actividad. Este debe ser un cálculo tentativo de materiales e insumos, horas de trabajo, maquinaria y otros elementos que influyan en el costo.

                                    p.mt-3 Si la actividad representa una compra o un servicio externo, en ese caso el valor es el precio que se haya pagado por el mismo.

                                li.mt-3
                                    b Sector económico: 
                                    | definir el sector económico al que pertenece la actividad según la Clasificación Internacional Industrial Uniforme (CIIU).

                                li.mt-3
                                    b Responsables y beneficiarios: 
                                    | cantidad de personas que realizan dicha actividad y se benefician del valor pagado por la misma.

                                    p.mt-3 Identificar también características de esta población, si poseen un rasgo particular como, por ejemplo: madres cabeza de hogar, adultos mayores, personas con discapacidad, población rural, entre otros. 

                                    p.mt-3 En este punto también es importante mencionar si el beneficiario de la actividad pertenece o no a la comunidad, de ser negativa la respuesta, influirá sustancialmente en el análisis de la cadena.

                                li.mt-3
                                    b Oferta potencial: 
                                    | identificar el número de oferentes de esta actividad dentro del territorio determinado; pueden ser personas naturales, empresas u organizaciones.
                                
                                li.mt-3
                                    b Ilustración: 
                                    | si es posible, también se deben incluir dibujos o fotografías de cada actividad para entenderla mejor.
        
        .card

            .card-body

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 4.3
                        
                        .col-10

                            p.texto2 Inventario de actores

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Luego de tener la información básica de las actividades que proporcionan valor al producto, es importante realizar un inventario de actores que permita conocer mejor a los involucrados directos e indirectos en cada uno de los eslabones.

                            br

                            ul
                                li
                                    b Actores directos de la cadena: 
                                    | estos son los que se involucran directamente en las actividades de valor; es decir, productores, proveedores, empleados, comercializadores, etc.
                                li.mt-3
                                    b Actores indirectos de apoyo: 
                                    | estos se refieren a aquellas entidades, personas, instituciones o empresas en las que se apoya la cadena de valor para mejorar actual o potencialmente el valor agregado de cada eslabón. Estos actores aportan transferencia de conocimiento, capacitación, asistencia técnica, financiación, promoción, acceso al mercado, etc.
                                li.mt-3
                                    b Actores del mercado: 
                                    | es la descripción sucinta de los compradores o consumidores del producto. Este tipo de actores se pueden encontrar en cualquiera de los eslabones; sin embargo, lo más común es que aparezcan únicamente en el último eslabón de la cadena.
        
            .row.mx-0.recuadro2

                .col-12.recuadro1.text-center

                    p
                        b Ejemplo de inventario de actores de una cadena de valor

                    img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 80%")
                
                .col-12.px-4

                    p El inventario de actores no requiere detalles específicos, es un simple mapeo de las relaciones que se presentan entre la cadena de valor del producto y el entorno del territorio.

                    p Por esta razón, no requieren de una investigación profunda, sino una identificación sencilla y práctica de los actores que participan directa o indirectamente en los procesos de valor del producto.

                    p También, se recomienda elaborarlo de manera gráfica para tener un mejor entendimiento de las relaciones de los actores con los eslabones de valor de la cadena.
    
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 4.4
                        
                        .col-10

                            p.texto2 Limitaciones y oportunidades

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Durante la elaboración de la cadena de valor de un producto, se puede reflexionar constantemente sobre los problemas en las actividades; por ejemplo, debilidad para el costeo, escasez de insumos, dificultad para el transporte; o, por el contrario, ventajas como contar con varios canales de venta, mano de obra especializada, mejoramiento del diseño, entre otros. 

                            p.mt-3 Estos factores pueden ser atribuidos a cualquiera de los elementos de la cadena o a los actores del inventario; es decir, se pueden encontrar en cualquiera de los momentos de su elaboración y es importante documentar esta información para posteriormente realizar un análisis más profundo y establecer acciones de mejora sobre Mi Producto OVOP seleccionado.

                        .col-12.text-center.mt-4

                            img.img-fluid(src="assets/images/pages/img9.svg", style="max-width: 80%")

br#analisis

.container

    .header-ecored.subtitulo-guion

        h2 Análisis de la cadena de valor simple

.container

    .row.mx-0

        .card.mb-0

            .card-body

                .card-text

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Para efectos de la presente guía, se analizará la cadena de valor para conocer el impacto económico y los beneficios al territorio.

                            br

                            p Los aspectos que se evaluarán son:
        
            .row.mx-0

                .col-12.col-md-6.recuadro5.text-center

                    .row.mx-0.align-items-center

                        .col-2.text-right

                            img.img-fluid(src="assets/images/pages/img24.png", style="max-width: 50%")

                        .col-10.text-left

                            p.mb-0 Impacto económico municipal.  

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img25.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Número de beneficiarios potenciales.

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img26.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Distribución de los beneficios.
                
                .col-12.col-md-6.recuadro5.text-center

                    .row.mx-0.align-items-center

                        .col-2.text-right

                            img.img-fluid(src="assets/images/pages/img27.png", style="max-width: 50%")

                        .col-10.text-left

                            p.mb-0 Posicionamiento interno.

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img28.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Potencial en el mercado.

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img29.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Oportunidad de crecimiento.
        
            .row.mx-0.recuadro2

                .col-12.px-0

                    img.img-fluid(src="assets/images/pages/img30.png", style="max-width: 100%")

                .col-12.col-md-6.mt-4

                    .col-12

                        p Adicionalmente, el evaluador que realice el análisis debe tener un conocimiento más profundo del territorio para generar criterios adicionales que permitan visualizar ampliamente el impacto de Mi Producto, según las características propias de cada territorio y de comunidad. 

                        br

                        p A continuación, se explicarán los seis (6) criterios propuestos desde el enfoque OVOP y el proceso de análisis de la cadena de valor, a través de la herramienta EXCEL diseñada para tal fin.
                
                .col-12.col-md-6

                    .row.recuadro5.m-4

                        .col-12

                            p
                                b Nota: 
                                | tenga en cuenta que este documento (Herramientas análisis cadena de valor) lo encuentra en los materiales complementarios de este componente formativo.
                        
                        .col-12

                            section
                                a(href="media/documentos/MC_Herramienta_analisis_cadena_de_valor.xlsx" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p
                                            b Anexo 3.
                                        p Herramientas análisis cadena de valor
        
        .card.mt-4

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 5.1
                        
                        .col-10

                            p.texto2 Impacto económico municipal

                    .row.mx-0.mt-3

                        .col-12

                            p En este punto se puede analizar la proporción de beneficios hacia los sectores prevalentes en el municipio, esto se traduce en si los efectos económicos que generan la venta del producto están mayormente en los sectores que predominan en el territorio. La herramienta evalúa automáticamente este valor de la siguiente manera:
                    
                    .row.justify-content-center

                        .col-7.mt-4

                            table.table.table-bordered.table-striped
                                tbody
                                    tr
                                        td.table3
                                            b Impacto sectorial
                                        td.table3
                                            b Evaluación de eficiencia
                                    tr
                                        td.table2 0 - 2,5
                                        td.table2 Bajo
                                    tr
                                        td.table1 2,6 - 5
                                        td.table1 Medio
                                    tr
                                        td.table2 5,1 - 7,5
                                        td.table2 Alto
                                    tr
                                        td.table1 7,6 - 10
                                        td.table1 Muy alto
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 5.2
                        
                        .col-10

                            p.texto2 Número de beneficiarios potenciales

                    .row.mx-0.mt-3

                        .col-12

                            p En este punto se puede analizar la cantidad total de beneficiarios directos actuales, así como los beneficiarios directos potenciales si se llegara a aumentar la producción y venta del producto en relación con el número total de hogares del municipio.

                            br

                            p Es decir, este punto considera la proporción de beneficiarios actuales y potenciales de un producto, de acuerdo con su característica poblacional.

                            br

                            p Desde el enfoque OVOP, es importante determinar el impacto socioeconómico, si se promociona este como un producto estrella o se aumentan sus ventas. La herramienta evalúa automáticamente este valor de la siguiente manera:
                    
                    .row.justify-content-center

                        .col-7.mt-4

                            table.table.table-bordered.table-striped
                                tbody
                                    tr
                                        td.table3
                                            b % Beneficiarios potenciales
                                        td.table3
                                            b Evaluación
                                    tr
                                        td.table2 0% - 2,49%
                                        td.table2 Bajo
                                    tr
                                        td.table1 2,5% - 4,99%
                                        td.table1 Medio
                                    tr
                                        td.table2 5% - 7,49%
                                        td.table2 Alto
                                    tr
                                        td.table1 >7,5%
                                        td.table1 Muy alto
                    
                    .row.mx-0

                        .col-12

                            p Esto quiere decir que, si un producto puede beneficiar potencialmente de manera directa a más del 7,5 % de las familias de un municipio, este es muy altamente considerable para ser Mi Producto por su cantidad de beneficiarios potenciales.
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 5.3
                        
                        .col-10

                            p.texto2 Distribución de beneficios

                    .row.mx-0.mt-3

                        .col-12

                            p Antes de comenzar con este punto, es importante aclarar la estructura de beneficiarios indirectos de una cadena de valor.

                            br

                            p Esta se refiere al efecto multiplicador de la economía sobre otras personas o empresas como resultado de la transacción económica de un determinado sector o actividad.

                            br

                            p Un ejemplo se ve en el caso de un hotel, donde los huéspedes pagan directamente al propietario y con ello también benefician ampliamente a otros sectores, ya que el valor pagado se usa para comprar; por ejemplo, los insumos necesarios para el desayuno, otros insumos gastables como papel higiénico, personal para mantenimiento del hotel, limpieza, etc.
                        
                        .col-12.recuadro1.text-center

                            p.mb-4
                                b Ejemplo de distribución de beneficios indirectos

                            img.img-fluid(src="assets/images/pages/img31.png", style="max-width: 80%")

                    .row.mx-0

                        .col-12

                            p Sin embargo, para conocer el efecto multiplicador de un sector es necesario obtener información más profunda de la cadena de valor; es decir, desarrollar una cadena de valor compleja y valorar los impactos en cada uno de los sectores.

                            br

                            p  Por lo tanto, para efectos de le presente guía, solo se evaluará la distribución de los beneficios directos de la cadena de valor en relación con las características de los beneficiarios.

                            br

                            p La herramienta evalúa automáticamente este valor de la siguiente manera:
                    
                    .row.justify-content-center

                        .col-7.mt-4

                            table.table.table-bordered.table-striped
                                tbody
                                    tr
                                        td.table3
                                            b % de la media con respecto a la desciación estándar
                                        td.table3
                                            b Evaluación
                                    tr
                                        td.table2 >100%
                                        td.table2 Bajo
                                    tr
                                        td.table1 70% - 100%
                                        td.table1 Medio
                                    tr
                                        td.table2 30% - 50%
                                        td.table2 Alto
                                    tr
                                        td.table1 <50%
                                        td.table1 Muy alto
        
        .card

            img.img-fluid(src="assets/images/pages/img32.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 5.4
                        
                        .col-10

                            p.texto2 Posicionamiento dentro del municipio 

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Se refiere a una investigación sencilla dentro del municipio que permita establecer el conocimiento, reconocimiento y valor que tiene el producto entre la comunidad local, con el fin de evaluar el posicionamiento interno. 

                            br

                            p Esta investigación puede hacerse a través de una encuesta sencilla o un grupo focal y no necesita precisión, ya que se esperan obtener resultados cualitativos. 

                            br

                            p Por lo tanto, se recomienda hacer preguntas cortas con pocas opciones de respuesta que permitan identificar la información que se requiere de manera sencilla y rápida.

                            br

                            p Un ejemplo de las preguntas a realizar serían las siguientes:

                            ul
                                li.mt-3 ¿Conoce usted el producto XYZ? 
                                li.mt-3 ¿Qué tan representativo cree usted que es XYZ en su municipio?
                                li.mt-3 ¿Se siente orgullo de XYZ como un producto de su municipio?
                                li.mt-3 ¿Recomienda usted XYZ a otras personas?

                            p Para efectos del análisis se usará la misma escala de los tres criterios anteriores, con las siguientes consideraciones:

                    .row.justify-content-center

                        .col-7.mt-4

                            table.table.table-bordered.table-striped
                                tbody
                                    tr
                                        td.table3
                                            b Resultado cualitativo de la información
                                        td.table3
                                            b Evaluación
                                    tr
                                        td.table2 El producto no es conocido por la población local.
                                        td.table2 Bajo
                                    tr
                                        td.table1 El producto es conocido, pero no es recomendado por la población local.
                                        td.table1 Medio
                                    tr
                                        td.table2 El producto es conocido y recomendado, pero aún no representa identidad para la población loca.
                                        td.table2 Alto
                                    tr
                                        td.table1 El producto es conocido, recomendado y respresenta orgullo para la población local.
                                        td.table1 Muy alto

        .card

            img.img-fluid(src="assets/images/pages/img33.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 5.5
                        
                        .col-10

                            p.texto2 Potencial en el mercado 

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Este criterio busca conocer el comportamiento en el mercado de los candidatos a Mi Producto, así como las características de sus oferentes y demandantes. Para ello, se recomienda realizar entrevistas sencillas a los productores y a los actuales o potenciales compradores de los productos que se evalúan.

                            br

                            p Al igual que en el punto anterior, no es necesario obtener datos detallados, ya que aún se hace referencia a productos candidatos.

                            br

                            p Puede entrevistar brevemente algunos productores y clientes usando como referente el siguiente ejemplo:

                            ul
                                li.mt-3 ¿El producto XYZ ya se está vendiendo actualmente?
                                li.mt-3 ¿Cuál es el volumen de ventas con respecto a la capacidad de producción?
                                li.mt-3 ¿XYZ tiene un mercado cercano y grande?
                                li.mt-3 ¿Se conocen las características del mercado?
                                li.mt-3 ¿Se conocen los productos que compiten con XYZ?
                                li.mt-3 ¿Hay ventaja de XYZ para competir en un mercado potencial? 
                                li.mt-3 ¿Qué valor agregado ofrece el producto XYZ con respecto a otros productos similares?

                            p Para efectos del análisis se usará la misma escala de los tres criterios anteriores, con las siguientes consideraciones:

                    .row.justify-content-center

                        .col-7.mt-4

                            table.table.table-bordered.table-striped
                                tbody
                                    tr
                                        td.table3
                                            b Resultado cualitativo de la información
                                        td.table3
                                            b Evaluación
                                    tr
                                        td.table2 El producto aún no se está vendiendo ni se conoce un mercado potencial.
                                        td.table2 Bajo
                                    tr
                                        td.table1 El producto no se vende o se vende en pocas cantidades, pero hay un mercado potencial identificado que puede ser asequible.
                                        td.table1 Medio
                                    tr
                                        td.table2 El producto se vende actualmente y hay mercado potencial factible, pero el producto no es lo suficientemente competitivo.
                                        td.table2 Alto
                                    tr
                                        td.table1 El producto se vende actualmente, hay mercado potencial factible y el producto es muy competitivo.
                                        td.table1 Muy alto
        
        .card

            img.img-fluid(src="assets/images/pages/img34.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 5.6
                        
                        .col-10

                            p.texto2 Oportunidad de crecimiento

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p La oportunidad de crecimiento se refiere a las diferentes opciones que tiene el producto para fortalecerse, mejorar su competitividad y expandirse en el mercado, de acuerdo con la oferta de servicios y el interés que tienen los actores locales en el producto.

                            br

                            p Estos actores pueden ser cámaras de comercio, gremios, gobernaciones, alcaldía u otras entidades públicas y/o privadas relacionadas con los sectores a los que pertenecen los productos a evaluar.

                            br

                            p Para establecer la oportunidad de crecimiento se pueden identificar intenciones de apoyo, fuentes de financiación o programas actuales que generen una perspectiva más amplia de los productos. Así mismo, es importante identificar el número de oferentes de las diferentes actividades que integran la cadena de valor y su forma de organización.

                            br

                            p Esta información se pudo haber establecido en el inventario de actores; sin embargo, en este paso se requiere una investigación más profunda sobre dichos actores.

                            br

                            p Para evaluar este punto se tienen en cuenta las siguientes consideraciones:


                    .row.justify-content-center

                        .col-10.mt-4

                            table.table.table-bordered.table-striped
                                tbody
                                    tr
                                        td.table3
                                            b Resultado cualitativo de la información
                                        td.table3
                                            b Evaluación
                                    tr
                                        td.table2 Los oferentes del producto o de su cadena no están organizados ni formalizados y los actores locales no tienen oferta para fortalecer los procesos del producto.
                                        td.table2 Bajo
                                    tr
                                        td.table1 Los oferente del producto o de su cadena están formalizados, pero no hay organización o articulación y la oferta institucional alrededor del sector es mínima.
                                        td.table1 Medio
                                    tr
                                        td.table2 Los oferentes del producto o de su cadena están formalizados, pero no hay organización o articulación. Sin embargo, hay interés de los actores locales por apoyar el producto a través de su oferta de fortalecimiento.
                                        td.table2 Alto
                                    tr
                                        td.table1 Los oferentes del producto o de su cadena están formalizados y organizados, hay articulación entre los mismos. Hay alto interés de los actores locales por apoyar el producto y oferta institucional para el fortalecimiento es amplia.
                                        td.table1 Muy alto

br#uso

.container

    .header-ecored.subtitulo-guion

        h2 Uso de herramienta Excel para análisis de cadena de valor

.container

    .row.mx-0

        .card

            img.img-fluid(src="assets/images/pages/img35.png", style="max-width: 100%")

            .card-body

                .card-text

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Para realizar los cálculos anteriormente expuestos y generar un análisis más organizado de la información, se sugiere usar la herramienta de Excel por medio del documento (Herramientas análisis cadena de valor) que se adjunta a este componente formativo en los materiales complementarios, el cual le permitirá obtener gráficos de resumen sobre los que se puede basar su análisis y posterior presentación a la comunidad.
                        
                        .col-12.mt-4

                            img.img-fluid(src="assets/images/pages/img36.png", style="max-width: 100%")
        
            .row.mx-0

                .col-12.recuadro5.text-center

                    .row.mx-0.align-items-center

                        .col-2.text-right

                            img.img-fluid(src="assets/images/pages/img24.png", style="max-width: 50%")

                        .col-10.text-left

                            p.mb-0 Antes de introducir cualquier dato o información, guarde el archivo con el nombre del producto y del municipio como un nuevo archivo. Así conservará siempre la herramienta en blanco para realizar otros análisis. Ejemplo: Sombrero Tuchín.

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img25.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Introduzca el nombre del producto y la información de la cadena de valor en la hoja CADENA DE VALOR.

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img26.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Introduzca el nombre del municipio y la información de este en la hoja INFO BASE.
                        
                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img27.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Introduzca los resultados de los análisis cualitativos en la hoja INVESTIGACIÓN.

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img28.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 A continuación, podrá ver la hoja de RESUMEN donde encontrará la información de la caracterización del producto.  

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img29.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 De acuerdo con la información obtenida y al gráfico radial que se muestra, describa brevemente y de acuerdo con su perspectiva el análisis general del producto, así como sus observaciones y recomendaciones.

                        .col-2.text-right.mt-3

                            img.img-fluid(src="assets/images/pages/img37.png", style="max-width: 50%")

                        .col-10.text-left.mt-3

                            p.mb-0 Copie esta información y anéxela a la información gráfica de la cadena de valor para realizar una presentación a su comunidad.
        
            .row.mx-0.recuadro2

                .col-12

                    p.mt-4 Así mismo, se recomienda usar herramientas gráficas que permitan el entendimiento del proceso de evaluación de los productos, de esta manera, cada uno de los aspectos evaluados sean comprendidos por el comité local o grupo de productores al momento de su presentación. 

                    p Cuanto más recursos visuales y gráficos tenga la presentación, más comprensible será para el público, ya que las cifras por sí solas no son fácilmente comprensibles. Use fotografías, dibujos, ejemplos, flechas y todos los elementos posibles para mostrar estos resultados.

                .col-12.text-center.mb-3

                    img.img-fluid(src="assets/images/pages/img38.png", style="max-width: 60%")
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0

                        .col-12.col-md-6

                            .row.align-items-center
                    
                                .col-auto.text-center.recuadro3

                                    p 5.7
                                
                                .col-10

                                    p.texto2 Recomendaciones finales

                                .col-12.mt-4

                                    ul
                                        li.mb-3 Culminados los pasos anteriores de la ruta metodológica de OVOP y compartidos los resultados de los estudios de los tesoros potenciales y candidatos a Mi Producto, el comité local podrá elegir conscientemente cuál será Mi Producto OVOP que sirva como herramienta para mejorar la competitividad de su territorio y la calidad de vida de sus habitantes.

                        .col-12.col-md-6

                            .header-arrow.arrow1

                                .col-12.mb-3

                                    p Para conocer en detalle, la 
                                        b Guía para el estudio de Cadena de Valor Simple y selección de Mi Producto
                                        | , se encuentra disponible en el siguiente enlace:
                                
                                .col-12

                                    section
                                        a(href="media/documentos/Guia_4_para_el_estudio_de_cadena_de_valor_simple.pdf" target="_blank").media-link
                                            img(src="assets/images/pages/icon_www2.svg", alt="").media-link-icon
                                            .media-link-title
                                                p
                                                    b Anexo 4.
                                                p Guía para el estudio de Cadena de Valor Simple y selección de Mi Producto

                            .row

                                .col-12.text-center.mt-4

                                    img(src="assets/images/pages/img10.svg")