.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td JICA. (2020). Guía Metodológica 3. Ideación de Producto.
                    td Pdf
                    td 
                        a(href="media/documentos/Guia_3_para_la_ideacion_de_producto.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Guía Metodológica 4. Estudio para Cadena de Valor Simple y selección de Mi Producto.
                    td Pdf
                    td 
                        a(href="media/documentos/Guia_4_para_el_estudio_de_cadena_de_valor_simple.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td OVOP. (2020). Herramienta Excel Análisis cadena de valor.
                    td Xlsx
                    td 
                        a(href="media/documentos/MC_Herramienta_analisis_cadena_de_valor.xlsx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Mapatur. (2017). La hoja caulinar se vuelve arte.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=OgazpmMyLMo", target="_blank") <span class="fa fa-play " aria-hidden="true"></span> Ver
                tr
                    td Universidad Continental. (2017). Scamper
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=UlhAmAxV66k", target="_blank") <span class="fa fa-play " aria-hidden="true"></span> Ver