.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td Guía de para el descubrimiento de tesoros locales
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Guia_1_para_el_descubrimiento_de_tesoros_locales.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Guía para la construcción del sueño colectivo OVOP
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Guia_2_para_la_construccion_del_sueño_colectivo_OVOP.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar