include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("JICA. (2020a). Guía de para el descubrimiento de tesoros locales. Estrategia de desarrollo local incluyente OVOP Colombia. Servicio Nacional de Aprendizaje SENA.", "")

        +referenciaItem("JICA. (2020b). Guía de para la construcción del sueño colectivo. Estrategia de desarrollo local incluyente OVOP Colombia. Servicio Nacional de Aprendizaje SENA.", "")