include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alburquerque, F. (1997). Desarrollo Económico Local y Difusión del Progreso Técnico. Cuadernos del ILPES 43. CEPAL, Naciones Unidas.", "")

        +referenciaItem("Bellù, L. G. (2013). Value Chain Analysis for Policy Making. Food and Agriculture Organization of the United Nations, FAO.", "")

        +referenciaItem("Comisión Económica para América Latina y el Caribe (CEPAL). (2020). Cadenas de Valor. Bilblioguías.", "https://cutt.ly/1iyIbHG")

        +referenciaItem("Kaplinsky, R. & Morris, M. (2001). A Handbook for Value Chain Research. Institute of Development Studies.", "")

        +referenciaItem("Nutz, N. y Sievers, M. (2016). Guía General para el Desarrollo de Cadenas de Valor. Organización Internacional del Trabajo (OIT).", "")

        +referenciaItem("Thiel, P. (2000). De Cero a Uno - Cómo Inventar el Futuro. Editorial Gestión 2000.", "")